<h1>480 News!</h1><br/>


<ol>
{{#each link}}
	<br><form method="POST" action="/upvote">
	<button style="font-size:12px"><i class="fa fa-spoon"></i></button>
	<input type="hidden" name="url" value={{this.url}}>
	</form>
	<a href="{{this.url}}">{{this.title}}</a>
	<a href="{{this.slug}}">[comments]</a>	
	{{this.upvotes}} points
	<br><br>
{{/each}}
</ol>

<form method="POST" action="/link">
  	URL: <input type="text" name="url"> 
  	Title: <input type="text" name="title"> 
    <input type="submit">
</form>